doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    title= title
  body
    main.container(style="padding-top: 12px;")
      div.row
        div.col-6
          h2 Memo
          input.form-control(type="text"  data-bind="value: memo")
      div.row
        div.col-4
          h2(style="padding-top: 6px;") Payees
        div.col-2
          h2.text-right(style="padding-top: 6px;" data-bind="text: total")
      div.row
        div.col-6
          ul.list-group(data-bind="foreach: payees" style="margin-top: 12px;")
            li.list-group-item
              div.row
                div.col-6.text-left(data-bind="text: address")
                div.col-6.text-right
                  input.form-control.text-right(data-bind="{value: amount, enable: true}")
          div.row
              button.btn.btn-primary(style="margin-top: 12px;"  data-toggle="modal" data-target="#payModal") Pay
        if dev
          div.col-6
            div(data-bind="visible: $root.showJson")
              pre(data-bind="text: ko.toJSON($root, null, 2)")
    div(id="bullpen")
      div(class="modal fade" id="payModal" tabindex="-1" role="dialog")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title" id="settingsModalLabel") Credential
              button(type="button" class="close" data-dismiss="modal")
                span &times;
            div(class="modal-body")
              label(for="payer") Your STEEM account name
              input(class="form-control" id="payer" data-bind="value: payer" type="text")            
              label(for="wif") Active WIF
              input(class="form-control" id="wif" data-bind="value: wif" type="password" size="40")
            div(class="modal-footer")
              span.text-left.text-info 
              | This client does not store nor send your credential anywhere 
              | except to use it to broadcast your transaction(s). Always be 
              | mindful of where you are sharing your keys. Use the least 
              | privileged key for your intended purpose.
              button(type="button" class="btn btn-primary" data-dismiss="modal") Continue    
    script(src="js/steem-ray.min.js")
